body {
	margin: 0px;
	padding: 0px;
	font-family: Arial,sans-serif;
	font-size: small;
}

a, a:link {
	color:#0000CC;
}

.header {
	background-color: lightBlue;
	padding-left: 20px;
}

.header h1 {
	margin: 0px;
}

.title {
	width: 100%
	align: center;
	font-style: italic;
	text-align: center;
}

.footer {
	clear:left;
	margin-top: 5px;
	background-color: lightBlue;
}

.small {
	font-size: small;
}
.content {
	float:left;
	padding: 10px;
}

.leftnav {
	float:left;
	width: 120px;
	border-right: 1px dotted black;
}

ul.tree, .tree ul {
	padding-left: 20px;
}

li.treetitle {
	margin-top: 20px;
}

.tree h2 {
	#color: lightGreen;
	margin: 0px;
}

.tree li {
	list-style: none outside none;
}
