<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<title>TapdIn</title>
		<link href="/static/tree.css" rel="stylesheet" type="text/css" />
	</head>

	<body>

		{% include "header.html" %}
		{% include "leftnav.html" %}


		<div class="content">
		
			<ul id="beer_list">
			{% for subscriber in subscribers %}
				<li class="beer">
					<a href="{{ subscriber.beer.get_absolute_url }}">
						<span class="beername">{{subscriber.beer_name}}</span>
					</a>
					 - {{subscriber.added_on|timesince}}
				</li>
			{% endfor %}
			</ul>

		</div>
		{% include "footer.html" %}
	</body>
</html>
